@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background: #0a0a23;
} */

.framework-card {
  background: rgba(0, 41, 155, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.btn {
  color: #3572ef;
  background: transparent;
  border: 3px solid #3572ef;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.background-glass {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.sidebar-glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.btn:hover {
  background: #0092ff;
  color: #100e34;
  box-shadow: 0 8px 32px 0 #0092ff;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 3px solid rgba(255, 255, 255, 0.18);
}

.gradient,
.active {
  background: #3572ef;
}

.active {
  color: #eaeaea;
  padding: 20px;
  border-radius: 100%;
}

.background-gray {
  background: #212121;
  transition: all 0.5s ease;
}

.background-gray:hover {
  background: #535353;
}

.blue-gradient {
  background: rgb(0, 146, 255);
  background: linear-gradient(
    187deg,
    rgba(0, 146, 255, 1) 0%,
    rgba(0, 67, 97, 1) 100%
  );
}

.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px !important;
  height: 200px !important;
  display: flex;
  justify-content: center;
}

.swiper-pagination {
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background-color: #aaa;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.live2d-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

#svg-global {
  zoom: 1.2;
  overflow: visible;
}

@keyframes fade-particles {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

#particles {
  animation: fade-particles 5s infinite alternate;
}
.particle {
  animation: floatUp linear infinite;
}

.p1 {
  animation-duration: 2.2s;
  animation-delay: 0s;
}
.p2 {
  animation-duration: 2.5s;
  animation-delay: 0.3s;
}
.p3 {
  animation-duration: 2s;
  animation-delay: 0.6s;
}
.p4 {
  animation-duration: 2.8s;
  animation-delay: 0.2s;
}
.p5 {
  animation-duration: 2.3s;
  animation-delay: 0.4s;
}
.p6 {
  animation-duration: 3s;
  animation-delay: 0.1s;
}
.p7 {
  animation-duration: 2.1s;
  animation-delay: 0.5s;
}
.p8 {
  animation-duration: 2.6s;
  animation-delay: 0.2s;
}
.p9 {
  animation-duration: 2.4s;
  animation-delay: 0.3s;
}

.rainbow-border {
  position: relative;
  border-radius: 2px;
  padding: 16px;
  background: transparent;
  z-index: 1;
}

.rainbow-border::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1px; /* border width */
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  background-size: 300% 300%;
  animation: rainbowAnimation 5s linear infinite;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.aurora-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  background: #171717;
}

.aurora-layer {
  position: absolute;
  width: 150%;
  height: 150%;
  background: radial-gradient(circle at 20% 20%, #00264d, transparent 60%),
    radial-gradient(circle at 80% 30%, #00264d, transparent 60%),
    radial-gradient(circle at 50% 70%, #950101, transparent 60%);
  filter: blur(100px);
  animation: moveAurora 20s ease-in-out infinite;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}

@keyframes moveAurora {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  50% {
    transform: translate(-10%, -10%) rotate(45deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes bounce-lines {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

#line-v1,
#line-v2,
#node-server,
#panel-rigth,
#reflectores,
#particles {
  animation: bounce-lines 3s ease-in-out infinite alternate;
}
#line-v2 {
  animation-delay: 0.2s;
}

#node-server,
#panel-rigth,
#reflectores,
#particles {
  animation-delay: 0.4s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* src/Chatbot.css */
.chatbot-container {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #f0f0f0; /* Warna latar belakang kontainer */
}

.chat-log {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 10px;
    clear: both;
    max-width: 70%; /* Batasi lebar pesan */
    word-break: break-word; /* Mencegah teks panjang merusak layout */
}

.message.user {
    background-color: rgba(255, 255, 255, 0.05);
    align-self: flex-end; /* Posisikan di kanan */
  
}

.message.bot {
    background-color:  rgba(255, 255, 255, 0.05); /* Warna pesan bot (abu-abu muda) */
    align-self: flex-start; /* Posisikan di kiri */
}

.message-timestamp {
    font-size: 0.7em;
    color: #777;
    margin-top: 2px;
}

.input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #eee;
    background-color: #f0f0f0; 
}

.input-area input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.input-area button {
    padding: 8px 15px;
    background-color: #007bff; /* Warna tombol kirim (biru) */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-area button:hover {
    background-color: #0056b3;
}

@layer base {
  body {
    @apply font-primary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-secondary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-secondary font-semibold text-[20px] mb-6 leading-[46px];
  }
  .btn {
    @apply font-tertiary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base from-[#FF0000] to-[#950101] hover:from-[#950101] hover:to-[#FF0000];
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text  from-[#e6b400] hover:to-[#e69b00] font-bold font-secondary hover:from-[#4F48EC] to-[#75BFEC];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
